# coding: utf-8

OPTIONS = {
  encode: Encoding::UTF_8,
  channels: ["#test", "#test2"],
  passes: [nil, "pass"],
  host: 'irc.example.com',
  port: 6667,
  nick: 'hitozuma',
  user: 'hitozuma',
  real: 'master@example.com'
}
